.woocommerce-info {
  border-top-color: $color-accent-coral !important;

  &:before {
    color: $color-accent-coral !important;
    content: url($icon-cart);
    left: 15px;
  }
}

.woocommerce-notices-wrapper {
  .woocommerce-message {
    border-top-color: $color-accent-green;
    margin: 16px 0 8px;

    &:before {
      color: $color-accent-green;
    }

    @include media-breakpoint-down(md) {

      display: flex;
      flex-flow: column;
    }


    a.button {
      @include media-breakpoint-down(md) {

        order: 2;
        margin-top: 10px;
      }
    }
  }
}