.woocommerce {
  .woocommerce-breadcrumb {
    font-family: $font-montserrat;
    font-size: 14px;
    line-height: 24px;
    margin: 0;

    @include media-breakpoint-up(md) {
      margin-top: 16px;
    }

    a {
      display: inline-block;
    }

  }
}