//@import "../abstract/mixins";

.btn {
  @include inline-block();
  font-family: $font-montserrat;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none;
  font-size: 14px !important;
  font-weight: 600;

  margin: 8px 0;
  border-radius: 0 !important;

  line-height: 23px;
  background: none;
  transition: all .2s ease-out;

  width: 100%;
  min-height: 40px;
  padding: .6em 1.9em;

}

//Overwrite a selectors like active, focus and visited
.ows {
  &:active:focus {
    box-shadow: none;
    outline: 0;
  }

  &:focus {
    color: inherit;
    border-color: inherit;
    box-shadow: none;
  }
}

.btn-primary   {
  @extend .btn;
  @extend .ows;

  //padding: .6em 1.5em;

  background-color: $button__primary !important;
  color: $color-white !important;
  border-color: $button__primary !important;
  &:hover,
  &:active,
  &:focus {
    background-color: $button__primary--hover !important;
    color: $color-white !important;
    border-color: $button__primary--hover !important;
  }
}

.btn-secondary {
  @extend .btn;
  @extend .ows;

  //padding: .5em 1.5em;

  background-color: $button__secondary;
  color: $color-dark-gray;
  border: 1px solid $color-dark-gray;

  &:hover,
  &:active,
  &:focus {
    background-color: $button__secondary--hover;
    border: 1px solid $color-dark-gray;
    color: inherit;
  }
}

.btn-inactive {
  @extend .btn;

  //padding: .6em 1.5em;

  background-color: $button__inactive;
  color: $color-dark-gray;

  &:hover,
  &:active,
  &:focus {
    color: $color-dark-gray;
  }
}

.add_to_cart_button {
  width: 48px;
  height: 48px;
  border-radius: 0 !important;
  padding: 0 !important;
  background: $color-brown-light !important;

  &:before {
    content: url($icon-cart-w);
    display: inline-block;
    padding: 12px;
    z-index: 200;
  }

  &:hover { background: $color-accent-coral !important; }
}

.button[disabled],
.button[aria-disabled] {
  @extend .btn-inactive;
  height: unset !important;
}

/** WOOCOMMERCE BUTTONS **/
.wc-forward, .wc-backward {
  @extend .btn-primary;
  line-height: 2 !important;
  width: unset;
}

.woocommerce button.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {

  @extend .btn-primary;
}

.wp-block-button {
  &__link {
    @extend .btn-primary;
    font-weight: 600 !important;
  }
}