//Product Card (Small)

.related.products, .cross-sells, .archive.woocommerce, .home, .latest-products {
  .products {
    .product {
      margin: 16px;
      max-width: 265px;
      min-height: 390px;

      @include media-breakpoint-up(sm) {
        max-width: 360px;
      }

      @include media-breakpoint-up(lg) {
        min-height: 360px;
        max-width: 265px;
      }

      img {
        width: 100%;
        max-width: 160px;
        height: auto;
        margin: 0 auto !important;
      }

      .woocommerce-loop-product__title {
        @extend p;
        font-weight: 600;
        margin-bottom: 0 !important;
        text-align: left;
        min-height: 60px;

        @include media-breakpoint-up(sm) {
          min-height: 40px;
        }
      }

      .price {
        @extend h4;
        position: absolute;
        bottom: 5px;
        left: 0;
        display: block;
        text-align: left;
        padding-right: 30px;

        .woocommerce-price-suffix {
          display: block;
          font-size: 11px;
          padding-right: 11px;
          line-height: 1.5;

          @include media-breakpoint-up(sm) {
            font-size: 13px;
          }
        }

        ins {
          line-height: 24px;

          bdi {
            font-size: 16px;

            @include media-breakpoint-up(md) {
              font-size: 18px;
            }
          }
        }
      }

      .product_tags {
        min-height: 130px;
      }

      .button {
        position: absolute;
        right: 0;
        bottom: 16px;//
      }

      .button.added {
        &:after {
          display: none;
        }
      }

      .added_to_cart {
        position: absolute;
        bottom: 8px;
        right: 60px;
        height: 48px;
        left: 0;
        line-height: 1.5 !important;
        padding: 10px 1px !important;
        font-size: 10px !important;

        @media screen and (min-width: 360px) {
          line-height: 1.5 !important;
          padding: 5px !important;
          font-size: 12px !important;
        }


        @media screen and (min-width: 450px) {
          line-height: 1.4 !important;
          padding: 5px 25px !important;
          font-size: 14px !important;
        }


        @include media-breakpoint-up(sm) {
          line-height: 2.5 !important;
          padding: 5px 13px !important;
          font-size: 14px !important;
        }
        @include media-breakpoint-up(md) {
          line-height: 1.4 !important;
        }
        @include media-breakpoint-up(lg) {
          line-height: 2.5 !important;
        }

        @include media-breakpoint-up(xl) {
          line-height: 1.4 !important;
        }

        @include media-breakpoint-up(xxl) {
          line-height: 2.5 !important;
        }
      }
    }
  }
}

.archive.woocommerce {
  .products {
    .product {
      margin: 16px 8px 32px;

      @include media-breakpoint-up(lg) {
        max-width: unset;
        margin: 16px;
      }

      .price {
        flex-flow: column wrap;

        @include media-breakpoint-up(sm) {
          flex-flow: column wrap;
        }

        @include media-breakpoint-up(lg) {
          flex-flow: row wrap;
        }

        ins {
          bdi {
            font-size: 18px;
          }
        }
      }

      .added_to_cart {
        @include media-breakpoint-up(md) {
          line-height: 2.5 !important;
        }

        @media screen and (min-width: 769px) and (max-width: 992px) {
          line-height: 1.5 !important;
          padding: 5px !important;
          font-size: 12px !important;
        }

        @include media-breakpoint-up(lg) {
          line-height: 1.4 !important;
        }

        @include media-breakpoint-up(xxl) {
          line-height: 2.5 !important;
        }
      }

    }
  }
}

.home, .latest-products, .cross-sells {
  .products {
    display: flex;
    justify-content: space-between;

    .product {
      float: left;
      padding: 0;
      margin: 0;
      position: relative;
      width: 22.05%;

      @include media-breakpoint-up(lg) {
        max-width: unset;
      }

      .price {

        .woocommerce-Price-currencySymbol {
          margin-right: 4px;
        }

        del {
          color: inherit;
          opacity: .5;
          display: inline-block;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          margin: auto 8px auto 0;
        }

        ins {
          background: 0 0;
          font-weight: 700;
          display: inline-block;
          text-decoration: none;
        }
      }
    }
  }
}

.cross-sells {
  > h2 {
    margin-bottom: 32px;
  }
}

.related.products {
  .products {

    .product {
      .price {
        flex-flow: column wrap;

        @include media-breakpoint-up(sm) {
          flex-flow: column wrap;
        }

        @include media-breakpoint-up(lg) {
          flex-flow: row wrap;
        }
      }
    }
  }
}

.archive.woocommerce, .woocommerce-cart  {
  .products {
    .product {
      .price {
        del {
          @include media-breakpoint-up(md) {
            margin: auto 8px auto 0;
          }
        }

        .woocommerce-price-suffix {
          @include media-breakpoint-up(md) {
            font-size: 11px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.woocommerce-cart  {
  .woocommerce {
    .cross-sells {
      .products {
        .product {

          .woocommerce-loop-product__title {
            padding: 7px 32px 7px 0;
          }

          span.price {
            @extend h4;
            position: absolute;
            bottom: 5px;
            left: 0;
            display: block;
            text-align: left;
            padding-right: 30px;

            small.woocommerce-price-suffix {
              display: block;
              font-size: 11px;
              padding-right: 11px;
              line-height: 1.5;

              @include media-breakpoint-up(sm) {
                font-size: 13px;
              }

              @include media-breakpoint-up(md) {
                font-size: 11px;
              }

              @include media-breakpoint-up(lg) {
                font-size: 13px !important;
              }

              span.amount {
                bdi {
                  > span.amount {
                    //font-weight: 400;
                    //color: #424241;
                    //font-size: 11px;
                  }
                }
              }

            }

          }

          .add_to_cart_button {
            bottom: 12px;
          }
        }
      }
    }
  }
}