input, textarea,
.select2-container--default .select2-selection--single .select2-selection__rendered, select {
  border-radius: 0;
  border: 1px solid #d1d1d1;
  padding: 10px 8px;
}

.woocommerce form .form-row .select2-container {
  height: 50px;
}

.select2-selection--single {
  border-radius: 0 !important;
  border: 0 !important;
}


//Ninja Form specific styling
.nf-before-form-content {

}

.nf-form-cont {

  .nf-form-title, .nf-before-form-content {
    display: flex;
    justify-content: center;

    .nf-form-fields-required {
      display: none;
    }
  }

  .nf-form-content {
    padding: 0;
    margin-top: 16px;


    nf-fields-wrap {
      nf-field {

        .nf-error {
          .ninja-forms-field {
            border-color: $color-accent-coral !important;
          }

          .nf-error-msg {
            font-family: $font-montserrat;
            font-size: 14px;
            color: $color-accent-coral;
          }

          .nf-field-element {
            &:after {
              background: $color-accent-coral;
            }
          }
        }

        .listselect-wrap> div {
            position: static;
          }

          .listselect-wrap {
            .nf-field-element > div {
              background: none;
              border: none;
            }
          }

          .field-wrap:not(.checkbox-wrap) {
            .nf-field-label {
              label {
                font-family: $font-montserrat;
                font-size: 12px;
                font-weight: 400;
                color: $color-dark-gray;
                background: $color-white;
                padding: 0 24px 0 8px;
                position: absolute;
                top: 0;
                display: inline-block;
                z-index: 300;
                width: fit-content;
                left: 16px;

                @media screen and (min-width: 801px) {
                  top: -10px;
                }

                .ninja-forms-req-symbol {
                  color: $color-dark-gray;
                }
              }
            }
          }

          .checkbox-wrap {
            .nf-field-label {
              label {
                font-family: $font-montserrat;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: $color-dark-gray;

                &:after, &:before {
                  background: $color-white !important;
                }

                &:after {
                  border: 1px solid $color-dark-gray;
                }
              }
            }
          }

          .listcheckbox-wrap {
            .nf-field-label {
              display: none;
            }

            .nf-field-element {
              label {
                font-size: 14px;
                line-height: 24px;
                color: $color-dark-gray;

                &:after, &:before {
                  background: $color-white !important;
                }

                &:after {
                  border: 1px solid $color-dark-gray;
                }
              }
            }
          }

          .starrating-wrap {
            .nf-field-label {
              display: none;
            }
          }

          .nf-field-element {
            .ninja-forms-field:not(input[type="button"]) {
              background: $color-white !important;
              border: 1px solid $color-dark-gray;

              label {
                &:after, &:before {
                  background: $color-white !important;
                }

                &:after {
                  border: 1px solid $color-dark-gray;
                }
              }

            }
          }
        }
      }

      .submit-container {
        .nf-field-element {
          display: flex;
          justify-content: flex-end;

          input[type="button"] {
            @extend .btn-primary;
            max-width: 185px;
          }
        }
      }
    }
  }


.woocommerce form {

    h3 {
      font-size: 14px;
      margin-bottom: 32px;
    }


  .form-row {
    position: relative;
    margin: 0 0 16px;

    input, textarea {
      padding: 12px 10px 10px;
    }
    label {
      font-family: $font-montserrat;
      font-size: 12px;
      font-weight: 400;
      color: $color-dark-gray;
      background: $color-white;
      padding: 0 24px 0 8px;
      position: absolute;
      top: -10px;
      display: inline-block;
      z-index: 300;
      width: fit-content;
      left: 16px;
    }

    .woocommerce-form-login__submit {
      margin-top: 30px;
    }

    .woocommerce-terms-and-conditions-wrapper {
      label {
        background: #ebe9eb;
      }
    }

  }
}



//Animate button out of sight, not working yes.
//@keyframes nodeInserted {
//  from {
//    outline-color: #fff;
//  }
//  to {
//    outline-color: #000;
//  }
//}
//
//@-moz-keyframes nodeInserted {
//  from {
//    outline-color: #fff;
//  }
//  to {
//    outline-color: #000;
//  }
//}
//
//@-webkit-keyframes nodeInserted {
//  from {
//    outline-color: #fff;
//  }
//  to {
//    outline-color: #000;
//  }
//}
//
//@-ms-keyframes nodeInserted {
//  from {
//    outline-color: #fff;
//  }
//  to {
//    outline-color: #000;
//  }
//}
//
//@-o-keyframes nodeInserted {
//  from {
//    outline-color: #fff;
//  }
//  to {
//    outline-color: #000;
//  }
//}
//
//div.some-control {
//  padding: 50px;
//  background: #FF6A6A;
//  animation-duration: 0.01s;
//  -o-animation-duration: 0.01s;
//  -ms-animation-duration: 0.01s;
//  -moz-animation-duration: 0.01s;
//  -webkit-animation-duration: 0.01s;
//  animation-name: nodeInserted;
//  -o-animation-name: nodeInserted;
//  -ms-animation-name: nodeInserted;
//  -moz-animation-name: nodeInserted;
//  -webkit-animation-name: nodeInserted;
//}
//
//div.some-control div.some-control {
//  background: #87CEFF;
//}