.hamburger {
  &:before {
    content: url($icon-hamburger);
    height: 44px;
    width: auto;
  }
}

.woocommerce a.remove {
  color: $color-accent-coral !important;

  &:hover {
    background: none !important;
    color: $color-accent-coral !important;

  }
}