.woocommerce {
  .quantity {
    .qty {
      font-family: $font-montserrat;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 0;
      border: 1px solid $color-dark-gray;
      font-size: 12px;


      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }
}

.woocommerce-cart {
  .woocommerce {
    .quantity {
      .qty {
        width: 30px;
        height: 30px;

        @include media-breakpoint-up(md) {
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}