.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {//
    @media screen and (min-width: 350px) {
      margin-right: 40px;
    }
  }
}

.offcanvas-body {
  padding: 0 1em; //
}

.offcanvas-end {
  border-left: none; //
}

//Show menu on mobile in offcanvas
.offcanvas-body { //
  .menu {
    //display:flex;
    .navigation__primary--menu-container {
      display: flex;

      .menu-wrapper {
        flex-flow: column wrap;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        margin-right: 35px;

        .menu-item {
          margin-bottom: 16px;
        }
      }
    }
  }
}
