.woocommerce, .home, .latest-products {
  .product {
    .onsale {
      border-radius: 0;
      min-width: 52px;
      min-height: 32px;
      width: 52px;
      height: 32px;
      padding:0;
      margin-top: 24px !important;
      background: $color-accent-green;
      color: $color-dark-gray;
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
      max-width: 120px;
      position: absolute;
      left: 0 !important;
      text-align: center;

      @include media-breakpoint-up(md) {
        margin-top: 6px !important;
      }
    }

  }
}