.woocommerce, body {
  .star-rating {
    span {
      &:before {
        color: $color-accent-coral;
      }
    }
  }

  .stars {
    color: $color-accent-coral;
    span {
      a {
        color: $color-accent-coral;

      }
    }
  }
}
