.woocommerce {
  .woocommerce-product-gallery {
    margin-bottom: 0 !important;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: 2em !important;
    }


    //display: flex;
    //flex-flow: row nowrap;

    .flex-viewport {
      //order: 2;
      .woocommerce-product-gallery__image {
        img {
          //width: 100% !important;
        }
      }
    }
    //
    .flex-control-nav.flex-control-thumbs {
      display: none;
      //order: 1;
      //display: flex;
      //flex-flow: column nowrap;
      //margin-right: 16px !important;
      //overflow-y: scroll !important;
      //height: 260px;

      @include media-breakpoint-up(sm) {
        //display: block;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        //height: 480px;
      }

      @include media-breakpoint-up(md) {
        //display: block;
        //height: 480px;
      }

      &::-webkit-scrollbar {
        //display: none;
      }

      li {
        //width: 100% !important;
        //margin-bottom: 16px !important;
        @include media-breakpoint-up(sm) {
          margin-right: 7px !important;
          margin-bottom: 8px !important;
          max-width: 80px;
        }
      }
    }
  }


  /* Make image 75% width to make room to its right */

  .single-product div.product .woocommerce-product-gallery .flex-viewport {
    //width: 75%;
    //float: left;
  }

  /* Make Gallery 25% width and place it beside the image */

  .single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    //width: 25%;
    //float: left;
  }

  /* Style each Thumbnail with width and margins */

  .single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    //width: 90%;
    //float: none;
    //margin: 0 0 10% 10%;
  }
}
