.wp-block {
  &-button {
    &__link {
      color: inherit;
      background-color: inherit;
      font-size: inherit;
      font-weight: inherit;

      &:focus, &:hover, &:visited {
        color: inherit;
        background-color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}

.wp-block-columns {
  margin-bottom: 8px;
}
