//@import "../abstract/variables";

// ==========================================================================
// Headings
// ==========================================================================

h1 {
  font-family: $font-playfair;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px;

  color: $color-text;

  @media screen and (min-width: 1200px) {
    font-size: 64px;
    line-height: 96px;
  }
}

h2 {
  font-family: $font-playfair;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: $color-text;

  @include media-breakpoint-up(md) {
    font-size: 30px;
  }
}

h3 {
  font-family: $font-playfair;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'liga' off;
  color: $color-text;
}

h4 {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $color-text;
  mix-blend-mode: normal;
}

h5 {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $color-text;
  mix-blend-mode: normal;
}

h6 {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: $color-text;
  mix-blend-mode: normal;
}

// ==========================================================================
// Content
// ==========================================================================

p, a, th, address, ul, ol {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  color: $color-text;
  mix-blend-mode: normal;

  text-decoration: none;

  &.small {
    font-size: 12px;
    line-height: 16px;
    mix-blend-mode: normal;
  }

  &.bold {
    font-weight: 600;
  }
}

span {
  &.detail {
    font-family: $font-bilbo;
    font-style: normal;
    font-weight: normal;
    color: $color-accent-coral;

    &.large {
      font-size: 42px;
      line-height: 56px;
    }

    &.small {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

