@charset "utf-8";

/**
* Importing by glob example
* https://github.com/maoberlehner/node-sass-magic-importer/tree/master/packages/node-sass-magic-importer#globbing
 */

@import "vendors/bootstrap";
//@import "vendors/fonts";
//@import "~swiper/swiper-bundle";
//@import "~swiper/components/navigation/navigation";


@import "abstract/variables";
@import "abstract/base";
@import "abstract/mixins";
@import "abstract/utilities";

@import "base/selectors";
@import "base/typography";

@import "components/breadcrumb";
@import "components/stars";
@import "components/wishlist";
@import "components/modals";
@import "components/forms";
@import "components/wc-gallery";

@import "layout/navigation";
@import "layout/hero";
@import "layout/appointment";
@import "layout/about";
@import "layout/archive-header";
@import "layout/treatment";
@import "layout/best-products";
@import "layout/latest-products";
@import "layout/testimonials";
@import "layout/footer";

@import "pages/archive";
@import "pages/product";
@import "pages/cart";
@import "pages/checkout";
@import "pages/search";

@import "components/card";
@import "components/alerts";
@import "components/buttons";
@import "components/icons";
@import "components/sale";
@import "components/input";
@import "components/offcanvas";
@import "components/wp-blocks";

@import "utils/seo";
@import "utils/wp-options";

@import "shame";


.swiper {
  //width: 1800px;
  //height: 700px;
}


.home .products {
  //flex-flow: row wrap;
}

//
//.container {
//  //height: 90vh;
//}
//
//.content-box {
//  text-align: center;
//  height: 400px;
//  padding: 80px;
//  background: rgba(255, 255, 255, 0.6);
//  box-shadow: 2px 2px 8px -2px #928f8f;
//
//
//  @media screen and (max-width: 500px) {
//    width: 100%;
//    padding: 40px;
//  }
//}
//
//.row>* {
//  @media screen and (max-width: 500px) {
//    padding-left: 0 !important;
//    padding-right: 0 !important;
//  }
//}
//
//.blur {
//  backdrop-filter: blur(8px);
//}

p {
  //font-size: 16px;
}


