.archive {
  background: white;

  .woocommerce-products-header {
    &__title {
      @extend h2;
      text-align: center;
    }

    .term-description {
      text-align: center;
      @extend .container;
    }
  }

  .woocommerce-result-count {
    font-weight: 500;
  }

  .products {
    @extend .row;
    margin: 48px auto 64px !important;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    li.product {
      @extend .col-sm-6, .col-lg-3;
    }

    .product {

      .onsale {
        left: 0 !important;
        top: -18px !important;

        @include media-breakpoint-up(md) {
          top: 0 !important;
        }
      }
    }
  }
}

.product {
  &.instock {
    .product_type_simple {
      display: block;
    }
  }

  &.outofstock {
    a.product_type_simple:not(.add_to_cart_button) {
      display: none;
    }
  }
}

.post-type-archive {
  &-testimonials {
    background: $color__tertiary;
    .testimonials {
      margin: 0 auto;

      .testimonial {
        margin-bottom: 16px;
      }
    }
  }
  footer {
    padding: 0;
  }
}
