.woocommerce-cart {
  background: $color-white;

  .woocommerce {
    @extend .container;

    @include media-breakpoint-up(lg) {
      //margin-top: 80px;
    }

    bdi {
      font-family: $font-montserrat;
    }

    .woocommerce-cart-form {
      display: inline-block;
      vertical-align: top;
      //resp
      @include media-breakpoint-up(lg) {
        width: 66%;
        margin-right: 2%;
      }

      &:before {
        content: 'Producten';
        display: block;
        @extend .h4;

        //resp

        @include media-breakpoint-up(lg) {
          margin-bottom: 16px;
        }
      }

      .shop_table {
        border-radius: 0;
        border: none;
        margin: 0 0 24px 0;

        //resp
        @include media-breakpoint-up(lg) {
          margin-bottom: 48px;
        }

        thead, tbody tr td::before {
          display: none;
        }

        td, th {
          padding: 2px 0;
          border: none;
          background: none;
          text-align: left !important;

          //resp
          @include media-breakpoint-up(sm) {
            padding: 16px 16px 16px 0;
            text-align: right !important;
          }


          &.actions {
            padding: 16px 0;
          }
        }

        .cart_item {
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          display: grid;
          grid-template-columns: 20% 2% 20% 10% 20% 25%;
          grid-template-areas:
            "image . title title title title"
            "image remove remove quantity . price";


          //grid-template-columns: 20% 2% 78%;
          //grid-template-areas:
          //  "image . title "
          //  "image . remove quantity price";
          margin-bottom: 16px;


          //resp
          @include media-breakpoint-up(sm) {

            grid-template-columns: 20% 1% 40% 24% 15%;
            grid-template-areas:
              "image . title title quantity"
              "image . remove . price";

            border-bottom: 1.5px solid rgba(0, 0, 0, .1);
          }


          //resp
          @include media-breakpoint-up(lg) {
            grid-template-columns: 14% 22% 22% 22% 22%;
            grid-template-areas:
              "image title title title quantity"
              ". remove . . price";
          }

          td {
            margin: auto 0;
          }

          .product-thumbnail {
            grid-area: image;
            display: inline-block !important;

            img.attachment-woocommerce_thumbnail, img.woocommerce-placeholder {
              width: 100%;
            }
          }

          .product {
            &-price, &-quantity {
              margin-top: 5px !important;

            }

            &-price {
              @include media-breakpoint-up(md) {
                margin-top: -20px !important;
              }

              @include media-breakpoint-up(lg) {
                margin-top: -40px !important;
              }
            }

            &-remove a {
              margin-top: -14px !important;

              @include media-breakpoint-up(md) {
                margin-top: -26px !important;
              }


              @include media-breakpoint-up(lg) {
                margin-top: 5px !important;
              }

              @include media-breakpoint-up(xl) {
                margin-top: -14px !important;
              }


            }
          }

          .product-name {
            grid-area: title;
            border: none;
            margin: 0;
            //resp
            display: flex;
            flex-flow: column wrap;


            .woocommerce-product-rating {
              .count {
                display: none;
              }
            }

            a {
              font-weight: 600;
              vertical-align: top;
              //resp

              @include media-breakpoint-up(sm) {
                text-align: left;
              }
            }
          }

          .product-price {
            grid-area: price;
            display: flex;
            @extend .h4;
            justify-content: flex-end;

            @include media-breakpoint-up(lg) {
              //justify-content: flex-end;
            }

          }

          .product-subtotal {
            display: none;
          }

          .product-quantity {
            grid-area: quantity;
            margin: 0;
            display: flex;

            //resp
            @include media-breakpoint-up(sm) {
              justify-content: flex-end;
              margin-right: 8px;
            }
          }

          .product-remove {
            grid-area: remove;
            position: relative;

            //resp
            @include media-breakpoint-only(xs) {
              display: flex;
              justify-content: flex-end;
            }

            a.remove {
              position: absolute;
              visibility: hidden !important;
              width: auto !important;
              display: flex;
              margin: auto 0;
              //resp
              @include media-breakpoint-only(xs) {
                margin-top: -16px;
                margin-right: -5px;
              }


              &:before {
                visibility: visible;
                content: url($icon-delete);
              }

              &:after {

                //resp
                @include media-breakpoint-up(sm) {
                  content: "Verwijder";
                  visibility: visible;
                  color: $color-medium-gray;
                  font-weight: 500;
                  font-size: 14px;
                  font-family: $font-montserrat;
                  margin: auto 0 auto -8px;
                }
              }
            }
          }

          .product-thumbnail {

            margin: 0;
            .size-woocommerce_thumbnail {
              width: 100%;
            }

          }


          .product-remove, .product-price {
            @include media-breakpoint-up(lg) {
              margin-top: -40px;
            }
          }
        }

        .actions {
          .coupon {
            //resp
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;

            @include media-breakpoint-up(md) {
              flex-flow: row nowrap;
              justify-content: flex-start;
            }

            .input-text {
              height: 40px;
              padding: 4px 10px 6px;

              //resp
              width: 100% !important;

              @include media-breakpoint-up(md) {
                width: 160px !important;
              }

            }

            button.button {
              height: 40px;
              width: 100% !important;
              background-color: $button__inactive !important;
              border-color: $button__inactive !important;
              color: $color-dark-gray !important;

              @include media-breakpoint-up(md) {
                width: unset !important;
                margin: 0 8px !important;
              }

              &:hover,
              &:active,
              &:focus {
                color: $color-dark-gray !important;
              }
            }
          }

          .button[aria-disabled="false"],
          .button[aria-disabled="true"], {
            width: unset;
            height: 40px;
            margin: 0 !important;
            padding: 0.5em 1.5em;
          }
        }
      }
    }

    .cart-collaterals {
      display: inline-block;

      @include media-breakpoint-up(lg) {
        width: 31%;
        margin-top: 48px;
      }

      .cart_totals {
        width: 100%;
        float: unset;

        padding: 8px 16px;
        background-color: $color-brown-lighter;

        @include media-breakpoint-up(xl) {
          padding: 16px 32px 0;
        }

        .shop_table {
          border-radius: 0;
          border: none;

          tbody {
            .cart-subtotal, .shipping, .tax-rate, .order-total {
              th, td, td span bdi {
                @extend .h4;
                font-size: 18px !important;
              }
            }
          }
        }
      }

      h2 {
        margin-bottom: 24px;
        padding: 0;
      }

    }

    .cross-sells {
      margin-top: 32px;

      @include media-breakpoint-up(lg) {
        &:before {
          content: '';
          background: $color-brown-lighter;
          height: 32px;
          position: absolute;
          width: 100%;
          left: 0;
          right: 0;
          transform: translate(0, -52px);
        }
      }

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 100px;
      }

      .products {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
          gap: 16px;
          justify-content: flex-start;
        }

        .product { //<--Adjust LI size if you want to influence the size of the product card

          @include media-breakpoint-up(md) {
            width: 22%;
          }

          .onsale {
            left: 0 !important;
            top: -18px !important;

            @include media-breakpoint-up(md) {
              top: 0 !important;
            }
          }

          .woocommerce-loop-product__title {
            @extend p;
            font-weight: 600;

            @include media-breakpoint-up(lg) {
              width: 280px;
            }

          }

          .price {
            margin-top: 23px;

            .amount {
              //@extend h4;

              bdi {
                //font-size: 18px !important;
              }
            }
          }

          .add_to_cart_button {
            position: absolute;
            right: 0;
            bottom: 0;
          }

        }

      }

    }

  }
}
