.woocommerce {
  .woocommerce-checkout {
    display: flex;
    flex-flow: column wrap;
    @include media-breakpoint-up(xl) {
      flex-flow: row wrap;
    }

    #order_review_heading {
      display: none;
    }

    .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
      flex: 1 1 100%;
    }

    .col2-set {
      display: flex;
      flex-flow: column wrap;

      @include media-breakpoint-up(xl) {
        width: 50%;
      }

      .col-1, .col-2 {
        width: 100%;

        @include media-breakpoint-up(xl) {
          width: 90%;
        }
      }

      .col-2 {
        margin-top: 16px;

        @include media-breakpoint-up(md) {
          margin-top: 32px;
        }
      }
    } //Address form

    .woocommerce-checkout-review-order {

      @include media-breakpoint-up(xl) {
        width: 50%;
      }

      .shop_table {
        //background-color: $color-brown-lighter;
        border: none;
        border-radius: 0;
      }

      #payment.woocommerce-checkout-payment {
        border-radius: 0;

        .form-row.place-order {
          .button[type="submit"] {
            margin-top: 60px;

            @include media-breakpoint-up(lg) {
              margin-top: 30px;
            }
          }
        }
      }
    }

    .woocommerce-checkout {
      #payment {
        border-radius: 0;
      }
    }
  }
}