.woocommerce {
  .product {
    @include media-breakpoint-up(md) {
      margin-top: 16px;
    }

    .row {
      position: relative;
    }

    .woocommerce-product-gallery {
      .flex-viewport {
        margin-bottom: 16px;
      }
    }



    .upsells.products, .related.products {
      .onsale {
        top: -18px;

        @include media-breakpoint-up(md) {
          top: 0;

        }
      }
    }

    .related.products {
      .onsale {
        left: 0 !important;
      }
    }

    .summary {
      display: flex;
      flex-flow: column wrap;

      @include media-breakpoint-up(xl) {
        padding-left: 90px;
      }

      .product-brand {
        margin: 0;
      }

      h1 {
        @extend h2;
        margin-bottom: 16px;
      }

      .woocommerce-product-rating {
        margin-bottom: 8px;

        .woocommerce-review-link {
          cursor: none;
          pointer-events: none;
        }
      }

      ul {
        text-indent: -32px;
        margin-left: 28px;

        li {
          &:before {
            content: url($icon-check-green);
            vertical-align: top;
            margin-right: 8px;

          }
        }
      }

      .cart {
        display: flex;
        order: 3;
        justify-content: flex-end;

        .quantity {
            @media screen and (min-width: 768px) and (max-width: 768px) {
            margin-right: 200px;
          }
        }

        .single_add_to_cart_button {
          @extend .btn-primary;
          margin: 0 16px !important;
          max-width: 474px;
        }
      }
    }

    .price {
      order: 2;
      text-align: right;
      margin-right: 24px;

      .woocommerce-Price-currencySymbol {
        margin-right: 4px;
      }

      del, ins {
        color: $color-dark-gray;
      }

      del {
        font-weight: normal;
        line-height: 24px;
        font-size: 13px;
        margin: auto 5px auto 0;

        @include media-breakpoint-up(md) {
          font-size: 14px;
          margin: auto 8px;
        }
      }

      ins {
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.015em;
      }

      .amount {
        margin-right: 5px;
      }

      .woocommerce-price-suffix {
        font-size: 13px;
        font-weight: 400;
        color: #454545;
        display: block;

        .amount {
          margin-right: 0;
        }
      }

    }

    .stock {
      display: flex;
      order: 4;
    }

    .product_meta {
      order: 5;
    }

    .tabs-and-upsells {
      @include media-breakpoint-up(sm) {
        margin-bottom: 32px;
      }

      .tabs {
        .woocommerce-tabs {
          .tab {
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid $color-dark-gray;

            &:first-child {
              border-top: 1px solid $color-dark-gray;
            }

            &-header {
              .tab-button {
                background: $color__tertiary;
                color: $color-text;
                box-shadow: none;
                font-size: 24px;
                line-height: 32px;
                border-bottom: none;
                padding: 8px 8px 8px 0;

                @include media-breakpoint-up(md) {
                  padding: 8px 8px 8px 16px;
                }

                &:focus {
                  box-shadow: none;
                }

                &:after {
                  content: '+';
                  background-image: none;
                  transform: none;
                  color: $color-dark-gray;
                  width: unset;
                  height: unset;
                  font-family: $font-montserrat;
                  font-weight: 600;
                  font-size: 18px;
                }

                &.collapsed {
                  &:after {
                    content: '+';
                    background-image: none;
                    transform: none;
                    color: $color-dark-gray;
                    width: unset;
                    height: unset;
                    font-family: $font-montserrat;
                    font-weight: 600;
                    font-size: 18px;
                  }
                }

              }
            }

            &-description {
              &.collapsing, &.show {
                .accordion-body {
                  border-top: 1px solid $color-dark-gray;
                }
              }

              .accordion-body {
                padding: 1rem 0;

                a {
                  font-weight: inherit;
                }

                @include media-breakpoint-up(md) {
                  padding: 1rem 1.25rem;
                }

              }

              .tab-body {
                background: $color__tertiary;
                color: $color-text;

                .shop_attributes {
                  margin-bottom: 8px;

                  tr:nth-child(even) td, tr:nth-child(even) th {
                    background: none;
                  }
                }

              }
            }

            #collapse-description {
              //
            }

            #collapse-additional_information {
              .shop_attributes {
                border-top: 0;

                .woocommerce-product-attributes-item {

                  &__label {
                    width: 220px;
                  }

                  &__label,
                  &__value {
                    background: none;
                    border-bottom: 0;
                    padding: 2px 0 2px 0;

                    p {
                      padding: 2px 0 2px 0;
                    }
                  }
                }
              }
            }

            #collapse-my_experience {
              .signature {
                @extend .detail, .large;
                color: $color-brown-dark !important;
                display: flex;
                justify-content: flex-end;
              }
            }

            #collapse-reviews {
              .tab-body {
                .woocommerce-Reviews {

                  &-title {
                    font-size: 16px;

                    span {
                      font-weight: 600;
                    }
                  }

                  .commentlist {
                    padding-left: 0;
                  }

                  #review_form_wrapper {
                    #review_form {
                      #respond {
                        .comment-reply-title {
                          font-weight: 600;
                        }

                        .comment-form {

                          .comment-notes {
                            #email-notes {
                            }
                          }

                          &-rating {
                            label {
                              font-weight: 600;
                              margin-bottom: 8px;
                            }

                          }

                          &-comment, &-author, &-email {
                            label {
                              font-weight: 600;
                              display: block;
                            }

                            textarea, input {
                              width: 80%;
                            }
                          }


                          &-comment {
                            //
                          }

                          &-author {
                            //
                          }

                          &-email {
                            //
                          }

                          &-cookies-consent {
                            label {
                              font-size: 10px;
                            }

                            input {
                              vertical-align: middle;
                            }
                          }

                          .form-submit {
                            input[type="submit"] {
                              @extend .btn-primary;
                              max-width: 150px;
                            }

                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .col-lg-6.upsells {
        position: relative;
        padding: 0;

        @include media-breakpoint-down(sm) {
          margin-top: 32px;
          background: $color-white;
        }

        @include media-breakpoint-up(lg) {
          padding-left: 24px;
          padding-right: 0;
        }

        @include media-breakpoint-up(xl) {
          padding-left: 60px;
          padding-right: 80px;
        }


      }

      .up-sells {
        background: $white;
        @include media-breakpoint-up(sm) {
          background: none;

        }

        @include media-breakpoint-up(md) {
          padding: 16px;

        }

        @include media-breakpoint-up(lg) {
          background: $white;
        }

        h2 {
          @extend h4;
          text-align: center;
          margin: 16px auto;

          @include media-breakpoint-up(sm) {
            margin: 32px auto;
          }

          @include media-breakpoint-up(lg) {
            margin: 16px auto;
          }

        }

        .products { //ul

          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          gap: 5px;
          background: $color-white;
          padding: 16px;


          @include media-breakpoint-down(md) {
            margin: 0 !important;
          }

          @include media-breakpoint-up(lg) {
            display: flex;
            flex-flow: column wrap;
            padding: 0;

          }



          .product { //li
            margin-bottom: 24px;
            min-height: 320px;

            @include media-breakpoint-up(sm) {
              width: 100%;
              min-height: 290px;

            }

            @include media-breakpoint-up(lg) {
              display: flex;
              min-height: 160px;
            }

            .product_tags {
              display: none !important;
            }

            .woocommerce-loop-product__link {
              display: flex;
              flex-flow: column wrap;


              @include media-breakpoint-up(lg) {
                height: 150px;
              }

              &:before, &:after {
                content: "";
                flex-basis: 100%;
                width: 0;
                order: 2;
              }

              img {
                order: 1;
                max-width: 150px;

                @include media-breakpoint-up(md) {
                  margin-right: 16px;
                }
              }

              .woocommerce-loop-product__title {
                text-align: left;
                order: 2;
                padding: 8px 5px 0 0;
                line-height: 24px;
                min-height: 60px;

                @include media-breakpoint-up(sm) {
                  min-height: 40px;
                }

                @include media-breakpoint-up(md) {
                  line-height: 32px;
                }

                @include media-breakpoint-between(lg, xxl) {
                  max-width: 199px;
                }
              }

              .star-rating {
                order: 2;
                min-height: 16px;

                span { display: none;}
              }

              .woocommerce-loop-product__link {
                position: initial;

              }

              .price {
                order: 2;
                font-size: 18px;
                line-height: 32px;
                color: $color-dark-gray;
                font-weight: 600;
                display: block;
                text-align: left;
                position: absolute;
                bottom: 0;
                padding-right: 30px;

                @include media-breakpoint-up(lg) {
                  left: 170px;
                }

                del {
                  margin: auto 8px auto 0;
                }

                .woocommerce-price-suffix {
                  display: block;
                  font-size: 11px;
                  padding-right: 11px;
                  line-height: 1.5;

                  @include media-breakpoint-up(sm) {
                    font-size: 13px;
                  }
                }

                ins {
                  line-height: 24px;

                  bdi {
                    font-size: 16px;

                    @include media-breakpoint-up(md) {
                      font-size: 18px;
                    }
                  }
                }
              }
              .onsale {
                left: 0 !important;
              }
            }

            .button {
              position: absolute;
              right: 0;
              bottom: 8px;
            }

            .button.added {
              &:after {
                display: none;
              }
            }

            .added_to_cart {
              position: absolute;
              bottom: 8px;
              height: 48px;
              right: 60px;
              left: 170px;
              line-height: 1.5 !important;
              padding: 10px 1px !important;
              font-size: 10px !important;

              @media screen and (min-width: 360px) {
                line-height: 1.5 !important;
                padding: 5px !important;
                font-size: 12px !important;
              }

              @media screen and (min-width: 450px) {
                line-height: 1.4 !important;
                padding: 5px 25px !important;
                font-size: 14px !important;
              }

              @include media-breakpoint-up(sm) {
                line-height: 2.5 !important;
                padding: 5px 13px !important;
                font-size: 14px !important;
              }
            }
          }
        }
      }
    }

    .related.products {
      margin-top: 0;
      padding: 0 16px;
      background: $color-white;

      @include media-breakpoint-up(md) {
        margin-top: 32px;
        padding: 40px 16px;
      }

      h2 {
        text-align: center;
        @extend .h4;
        margin-bottom: 32px;
        padding-top: 16px;

        @include media-breakpoint-up(sm) {
          padding-top: 32px;
        }

        @include media-breakpoint-up(md) {
          font-family: $font-playfair;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 40px;
          font-feature-settings: 'liga' off;
          color: $color-text;
          margin-bottom: 40px;
        }
      }

      .products {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;


        @include media-breakpoint-down(md) {
          margin: 0 !important;
        }

        @include media-breakpoint-up(md) {
          flex-flow: row nowrap;
          justify-content: space-around;

        }
      }
    }
  }
}

.single-product{
  
  .summary.entry-summary {

    .yith-wcwl-add-to-wishlist {
      position: relative;
      .yith-wcwl-add-button {
        position: absolute;

        .yith-wcwl-icon {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
  }
  .footer {
    margin-top: 0;
  }
}

.woocommerce div.product p.price, .home .product .price ins {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: $color-dark-gray !important;
}

.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product
{
  @include media-breakpoint-up(sm) {
    margin-right: 8px;
  }
}

//Double, fix later
.latest-products {
  .price {
    .amount {
      margin-right: 5px;
    }

    .woocommerce-price-suffix {
      font-size: 13px;
      font-weight: 400;
      color: #454545;

      .amount {
        margin-right: 0;
      }
    }

  }
}
