.search, .error404, .search-no-results {
  background-color: $color__tertiary !important;

  .wp-search {
    margin: 30px 0;

    .search-form {
      display: flex;
      justify-content: center;

      label {
        width: 80%;

        .search-field {
          width: 100%;
          padding: 15px;
          border: 0;
          border-bottom: 1px solid #d1d1d1;
          background: $color__tertiary;
        }
      }

      .search-submit {
        width: unset;
        min-height: unset;
        margin: 0;
      }
    }
  }

  .card-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    margin-bottom: 30px;

    .card {
      position: relative;
      border: 0;
      border-radius: 0;

      width: 45%;

      @include media-breakpoint-up(md) {
        width: 30%;
      }

      @include media-breakpoint-up(xl) {
        width: 16%;
      }

      .card-title {
        margin: 10px;
      }

      .card-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.error404 {
  .card-wrapper {
    margin-top: 110px;
    margin-bottom: 5px;
  }

  .wp-search {
    margin-bottom: 30vh;
  }
}