
@media screen and (min-width: 991px) {
    .hero {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
}
.hero .row {
    justify-content: center;
}
@media screen and (min-width: 768px) {
    .hero .row {
        justify-content: unset;
    }
}
.hero-image {
    display: flex;
    width: auto;
    margin: 0 auto 20px auto;
    height: 300px;
}
@media screen and (min-width: 576px) {
    .hero-image {
        order: 2;
    }
}
@media screen and (min-width: 768px) {
    .hero-image {
        height: 400px;
    }
}
@media screen and (min-width: 992px) {
    .hero-image {
        height: 650px;
    }
}
.hero-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.hero-content-title, .hero-content-description {
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (min-width: 769px) {
    .hero-content-title {
        padding-left: 0;
        padding-right: 0;
    }
}
.hero-content .button-wrapper {
    display: flex;
    flex-flow: column wrap;
}
@media screen and (min-width: 576px) {
    .hero-content .button-wrapper {
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .hero-content .button-wrapper {
        display: inline-block;
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1200px) {
    .hero-content .button-wrapper a {
        width: 45%;
        height: 44px;
    }
    .hero-content .button-wrapper a:first-child {
        margin-right: 10px;
    }
    .hero-content .button-wrapper a:last-child {
        margin-left: 10px;
    }
}