body {
  background-color: $color__tertiary;
  height: 100vh;
  width: 100%;
}

.container {
  padding-top: 16px;

  @include media-breakpoint-up(md) {
    padding-top: 24px;
  }
}

ul, ol {
  padding: 0;
}


:active,
:focus,
:focus-within,
:target,
:hover,
:visited,
:focus-visible {
    outline: 0;
}



input[type="number" i] {
  padding: 10px 2px;
}