// ==========================================================================
// Other Brilliant Minds
// ==========================================================================

/**
 * IE Specific Styles
 * @example scss
 * .foobar {
 *   .lt-ie8 & { @include old-ie { ... } }
 *   .lt-ie9 & { @include old-ie { ... } }
 * }
 */

@mixin old-ie {
  @if $old-ie {
    @content;
  }
}


/**
 * @link http://bit.ly/thoughtbot-bourbon-inline-block
 * @require {mixin} old-ie
 * @param {String} $alignment (baseline)
 * @example scss
 * .foobar { @include inline-block() { ... } }
 */

@mixin inline-block($alignment: middle) {
  display: inline-block;
  @if $alignment and $alignment != none {
    vertical-align: $alignment;
  }
  @include old-ie {
    zoom:1;
    *display:inline;
    *vertical-align:auto;
  }
}

// ==========================================================================
// Headings
// ==========================================================================

@mixin h2() {
  font-family: $font-playfair;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  font-feature-settings: 'liga' off;
  color: $color-text;
}