.content {
  max-width: 85%;
}

.backgroundColor {
  background: $color-white !important;
}

.divide-by-three {

  @include media-breakpoint-down(xl) {
    height: 16px !important;
  }
  //mobile 34?
  //tablet 16px
}


.hide-on-mobile {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.hide-on-desktop {
  display: block;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}