
// ==========================================================================
// Defining Colors
// ==========================================================================


$color__primary: #C3A47F;
$color__secondary: #776A61;
$color__tertiary: #F6F1EB;

$color-accent-green: #BDC885;
$color-accent-coral: #FA8E89;

$color-dark-gray: #424241;
$color-medium-gray: #7C7C7C;
$color-light-gray: #E8E9ED;
$color-white: #FFFFFF;

$color-brown-dark: $color__secondary;
$color-brown-medium: #9F8366;
$color-brown-medium-light: #E6D7CC;
$color-brown-medium-lighter: $color__primary;
$color-brown-light: #E4C39E;
$color-brown-lighter: $color__tertiary;


// ==========================================================================
// Color assigning by Goal
// ==========================================================================

$color-text: $color-dark-gray;
$color-text-inverted: $color-white;

$button__primary: $color-dark-gray;
$button__primary--hover: $color-medium-gray;

$button__secondary: $color-brown-lighter;
$button__secondary--hover: $color-brown-light;

$button__inactive: $color-light-gray;


// ==========================================================================
// Defining Fonts
// ==========================================================================

$font-fallback: sans-serif;

$font-playfair: Playfair Display, $font-fallback;
$font-montserrat: Montserrat, $font-fallback;
$font-bilbo: Bilbo Swash Caps, $font-fallback;

$old-ie: false !default;


// ==========================================================================
// Defining Asset Paths
// ==========================================================================

$path-font: '../../fonts/';
$path-icon: 'https://artofwaxing.check-whats-cooking.nl/wp-content/themes/artofwaxing/assets/dist/images/icons/';

$folder-payment       : 'payment';
$folder-social        : 'social';
$folder-ui            : 'interactive';
$folder-design        : 'design';

//Use as background-image: url($icon-ideal);

$icon-logo            :     (#{$path-icon} + '/logo.svg');
$icon-logo-light      :     (#{$path-icon} + '/logoLight.svg');

$icon-ideal           :     (#{$path-icon} + #{$folder-payment} + '/ideal.svg');
$icon-ideal-light     :     (#{$path-icon} + #{$folder-payment} + '/idealLight.svg');
$icon-klarna          :     (#{$path-icon} + #{$folder-payment} + '/klarna.svg');
$icon-maestro         :     (#{$path-icon} + #{$folder-payment} + '/maestro.svg');
$icon-mastercard      :     (#{$path-icon} + #{$folder-payment} + '/mastercard.svg');
$icon-paypal          :     (#{$path-icon} + #{$folder-payment} + '/paypal.svg');
$icon-paypal-light    :     (#{$path-icon} + #{$folder-payment} + '/paypalLight.svg');
$icon-visa            :     (#{$path-icon} + #{$folder-payment} + '/visa.svg');

$icon-account         :     (#{$path-icon} + #{$folder-ui} + '/account.svg');
$icon-cart            :     (#{$path-icon} + #{$folder-ui} + '/cart.svg');
$icon-cart-w          :     (#{$path-icon} + #{$folder-ui} + '/cartw.svg');
$icon-check           :     (#{$path-icon} + #{$folder-ui} + '/check.svg');
$icon-check-green     :     (#{$path-icon} + #{$folder-ui} + '/checkGreen.svg');
$icon-chevron-down    :     (#{$path-icon} + #{$folder-ui} + '/chevronDown.svg');
$icon-chevron-up      :     (#{$path-icon} + #{$folder-ui} + '/chevronUp.svg');
$icon-chevron-left    :     (#{$path-icon} + #{$folder-ui} + '/chevronLeft.svg');
$icon-chevron-right   :     (#{$path-icon} + #{$folder-ui} + '/chevronRight.svg');
$icon-delete          :     (#{$path-icon} + #{$folder-ui} + '/delete.svg');
$icon-exit            :     (#{$path-icon} + #{$folder-ui} + '/exit.svg');
$icon-hamburger       :     (#{$path-icon} + #{$folder-ui} + '/hamburger.svg');
$icon-heart           :     (#{$path-icon} + #{$folder-ui} + '/heart.svg');
$icon-search          :     (#{$path-icon} + #{$folder-ui} + '/search.svg');
$icon-star-outlined   :     (#{$path-icon} + #{$folder-ui} + '/starOutlined.svg');
$icon-star-pink       :     (#{$path-icon} + #{$folder-ui} + '/starPink.svg');
$icon-star-pink-large :     (#{$path-icon} + #{$folder-ui} + '/starPinkLarge.svg');

$icon-fb              :     (#{$path-icon} + #{$folder-social} + '/facebookDark.svg');
$icon-fb-light        :     (#{$path-icon} + #{$folder-social} + '/facebookLight.svg');
$icon-ig              :     (#{$path-icon} + #{$folder-social} + '/instagramDark.svg');
$icon-ig-light        :     (#{$path-icon} + #{$folder-social} + '/instagramLight.svg');

$icon-curly-left      :     (#{$path-icon} + #{$folder-design} + '/curly-left.svg');
$icon-curly-right     :     (#{$path-icon} + #{$folder-design} + '/curly-right.svg');