.about {
  margin-bottom: 32px;
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    padding-top: 0;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 64px;
  }

  &-image {
    @media screen and (max-width: 767px) {
      justify-content: center;
      width: 100%;
      padding: 0;
      max-width: unset;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-end;
      margin-left: 32px;
    }
    @include media-breakpoint-between(md, lg) {
      max-width: unset;
    }
  }

  &-description {
    background: $color__primary;
    padding: 32px 20px 40px;

    @include media-breakpoint-up(md) {
      position: absolute;
      padding: 40px 60px;
      min-height: 328px;
      width: 520px;
      margin-top: 40px;
      margin-left: 200px;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 400px;
    }

    @include media-breakpoint-up(xl) {
      width: 645px;
      padding: 40px 104px;
      margin-left: 470px;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: 570px;
    }

    .about-content {
      p {
        color: $color-white;
      }
      //text-align: center;

      @include media-breakpoint-up(md) {
        //font-weight: 600;
        //text-align: left;
      }
    }

    span.about-signee {
      @extend .detail;
      display: flex;
      justify-content: center;
      color: $color-white;
      font-size: 32px;

      @include media-breakpoint-up(md) {
        justify-content: flex-end;
        margin-top: 48px;
        font-size: 52px;
        line-height: 56px;
      }
    }
  }
}