.appointment {
  height: 100%;
  margin-bottom: 16px;
  padding-top: 16px !important;

  @media screen and (min-width: 991px) {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }

  &-image {
    margin: 0 0 16px;
    height: 175px;
    order: 1;

    @include media-breakpoint-up(sm) {
      order: 1;
      height: 203px;
    }

    @include media-breakpoint-up(xl) {
      height: 392px;
    }

  }

  &-content {
    justify-content: flex-start;
    text-align: center;
    order: 2;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }

    &-title,
    &-description {
      padding: 0;
    }

    &-title {
      @extend .h1;
      text-align: left;
      margin-bottom: 0;
    }

    &-description {
      margin-bottom: 24px;
    }

    .appointment-link {
      @include media-breakpoint-up(md) {
        margin: 0 auto;
        max-width: 265px;
      }

    }
  }
}