.archive-header {
  background: $color__tertiary;
  padding: 0 0 16px;

  @include media-breakpoint-up(md) {
    padding: 40px 0;
  }

  .archiveSwiperContainer {
    @include media-breakpoint-down(sm) {
      padding: 0;
      margin: 0;
    }

    .archiveSwiper {
      position: relative;
      overflow: hidden;

      .swiper-pagination-bullets {
        bottom: 8px;

        .swiper-pagination-bullet-active {
          background: $color-accent-coral;
        }
      }
    }
  }

  h2 {
    text-align: center;
    margin: 16px 0;

    @include media-breakpoint-up(md) {
      margin: 32px 0 40px;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;


    @include media-breakpoint-down(md) {
      padding: 0;
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      justify-content: center;
    }


    a {
      @extend .btn-secondary;
      margin: 0 0 16px !important;
      padding: 8px !important;
      width: 45% !important;

      @include media-breakpoint-up(md) {
        width: 23% !important;
        margin: 0 12px 16px !important;
      }

    }
  }
}