.jumbotron-fluid {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: $color-brown-medium-lighter !important;
    width: 100%;
    height: 11%;
    top: 0;

    @include media-breakpoint-up(md) {
      height: 33%;
    }
  }

}

.best-products {
  position: relative;
  z-index: 200;
  margin-bottom: 48px;


  .products-wrapper {
    text-align: center;

    .title {
      @extend .h1;
      color: $color-white;
      margin-bottom: 8px;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .subtitle {
      @extend .bold;
      color: $color-white;
    }
  }

  .card-wrapper {

    text-align: center;
    margin-bottom: 72px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-top: 16px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 48px;
      text-align: left;
      padding: 0 95px;
    }

    .product-card {
      position: relative;
      img {
        margin-bottom: 8px;
        width: 100%;
        max-width: 335px;

        @include media-breakpoint-up(lg) {
          margin-bottom: 32px;
        }
      }

      h2 {
        margin-bottom: 16px;
      }

      &-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }


  }

  .submission-wrapper {
    margin-top: 24px;
    text-align: center;

    h3 {
      position: relative;
      &:before {
        content: url($icon-curly-left);
        vertical-align: top;
        position: absolute;
        transform: scale(0.73);
        background-repeat: no-repeat;
        top: -48px;
        left: -16px;

        @media screen and (min-width: 400px ) {
          transform: scale(1);
          left: 8px;
        }

        @include media-breakpoint-up(sm) {
          top: 0;
          left: -24px;
          transform: scale(0.7);
        }

        @include media-breakpoint-up(md) {
          left: 0;
          transform: scale(1);
        }

        @include media-breakpoint-up(lg) {
          position: relative;
          margin-right: 32px;
        }

      }

      &:after {
        content: url($icon-curly-right);
        vertical-align: top;
        position: absolute;
        transform: scale(0.73);
        background-repeat: no-repeat;
        top: -48px;
        right: -16px;

        @media screen and (min-width: 400px ) {
          transform: scale(1);
          right: 8px;
        }

        @include media-breakpoint-up(sm) {
          top: 0;
          right: -24px;
          transform: scale(0.7);
        }

        @include media-breakpoint-up(md) {
          right: 0;
          transform: scale(1);
        }

        @include media-breakpoint-up(lg) {
          position: relative;
          margin-left: 32px;
        }

      }
    }

    .submission-content {
      width: 100%;
      margin: auto;

      @include media-breakpoint-up(md) {
        width: 70%;
      }
    }
    p {
      //@extend .bold;
      color: $color-dark-gray;
    }

    a, button {
      @include media-breakpoint-up(md) {
        margin-top: 40px;
        max-width: 245px;
      }

    }
  }

}
