.footer {
  background-color: $color__secondary;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 16px;
  bottom: 0;


  @media screen and (min-width: 576px) {
    padding-top: 20px;
  }

  &-col {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    &:first-child {
      margin-bottom: 35px;

      @media screen and (min-width: 576px) {
        order: 2;
        justify-content: center;

      }
    }

    &:last-child {
      flex-flow: column wrap;

      @media screen and (min-width: 576px) {
        order: 3;
        justify-content: flex-start;
        text-align: right;
      }
    }

    @media screen and (min-width: 576px) {
      justify-content: flex-start;
    }
  }

  &-address {
    p, a {
      font-size: 14px;
      text-align: center;
      color: $color-brown-lighter;

      @media screen and (min-width: 576px) {
        text-align: left;
      }
    }

    a {
      &:hover {
        color: $color-accent-coral;
      }
    }
  }

  &-social, &-payment {
    p {
      font-size: 14px;
      color: $color-brown-lighter;
      margin-bottom: 8px;
      text-align: center;

      @media screen and (min-width: 576px) {
        text-align: right;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;

      @media screen and (min-width: 576px) {
        justify-content: flex-end;
      }

      .social, .payment {
        &-icon {
          img {
            margin-left: 18px;
          }
        }
      }
    }
  }

  .site-disclaimer {

    font-family: $font-montserrat;
    text-align: center;
    span, a {
      font-size: 12px;
      line-height: 16px;
      color: $color-brown-lighter;
    }

    a {
      &:hover {
        //text-decoration: underline;
      }
    }
  }
}

//Check if this works as sticky footer
//html, body {
//  height: 100%;
//}
//body {
//  display: flex;
//  flex-direction: column;
//}
//.site-content {
//  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
//}
//.footer {
//  flex-shrink: 0;
//}
