.hero,
.appointment {
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 991px) {
    padding-top: 75px !important;
    padding-bottom: 32px !important;
  }

  .row {
    justify-content: center;

    @media screen and (min-width: 768px) {
      justify-content: unset;
    }
  }

  &-image-base {
    display: flex;
    width: auto;
    margin: 0 auto 16px;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
      order: 2;
    }
  }

  &-image {
    display: flex;
    width: auto;
    margin: 0 auto 16px;
    height: 300px;

    @include media-breakpoint-up(md) {
      margin: 0 auto;
      height: 400px;
      order: 2;
    }

    @include media-breakpoint-between(md, lg) {
      align-self: center;
    }

    @include media-breakpoint-up(lg) {
      height: 592px;
    }
  }

  &-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    &-title,
    &-description {
      //padding-left: 20px;
      //padding-right: 20px;
      margin-top: 8px;
      margin-bottom: 32px;

      a {
        //font-weight: bold;
        color: $color-dark-gray;
      }
    }

    &-title {
      text-align: center;
      @media screen and (min-width: 769px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .detail.large {
      text-align: center;
    }

    .button-wrapper {
      display: flex;
      flex-flow: column wrap;

      @media screen and (min-width: 576px) {
        width: 100%;
      }

      @media screen and (min-width: 1200px) {
        display: inline-block;
        width: 80%;
        margin: 0 auto;
      }

      a {
        @media screen and (min-width: 1200px) {
          width: 45%;

          &:first-child {
            margin-right: 10px;
          }

          &:last-child {
            margin-left: 10px;
          }
        }
      }
    }
  }
}