.jumbotron-fluid-full {
  position: relative;
  background: $white;
}

.latest-products {
  background: $white;
  padding-bottom: 8px;

  @include media-breakpoint-up(md) {
    padding-top: 48px;
    padding-bottom: 48px;

  }

  .products {
    padding: 0 1px !important;

    @include media-breakpoint-up(md) {
      margin-top: 48px;
    }

    .productSwiper {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;

      p.price {
        padding-right: 48px;
      }
    }
  }

  .latest-products-link {
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      margin: 22px auto 0;
      width: 265px;
    }


  }
}