// container class
//.header {

  .navigation {
    background-color: $color-white;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 900;

    &__logo-wrap {
      max-width: 141px;
      width: 100%;

      @media screen and (min-width: 412px) {
        //max-width: 30%;
      }

      @media screen and (min-width: 992px) {

        max-width: 45%;
        padding-left: 20px;
      }
    }

    &__primary--menu-container {
      display: none;
      justify-content: flex-end;
      //width: 620px;
      width: 100%;


      @media screen and (min-width: 1200px) {
        display: flex;
      }

      .menu-wrapper {
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin-bottom: 0;
        margin-right: 35px;
      }
    }


    &__icon-wrap {
      display: flex;
      justify-content: space-between;
      align-items:center;
      padding-left: 32px;

      max-width: 180px;
      width: 100%;

      @media screen and (min-width: 1200px) {
        max-width: 10%;

        justify-content: space-evenly;
        padding-left: 0;
      }

      .hamburger-menu {
        cursor: pointer;

        @media screen and (min-width: 1200px) {
          display: none;
        }
      }
    }


  }

.offcanvas {
  .text-reset {
    cursor: pointer;
  }
}

//.container, footer {display:none;}

//}