.testimonials {
  margin: 8px auto 16px;

  @include media-breakpoint-up(xl) {
    margin: 8px auto 48px;
  }

  &-wrapper {
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include media-breakpoint-up(xxl) {
      padding: 0 45px;
    }

    .testimonial {
      position: relative;
      background: $color-white;
      padding: 24px 20px;
      min-height: 380px;
      width: 360px;

      @include media-breakpoint-up(md) {
        margin-bottom: 32px;
      }

      @include media-breakpoint-up(lg) {
        height: 380px;
      }

      @include media-breakpoint-up(xl) {
        height: 360px;
        width: 360px;
      }

      &-count {
        text-align: center;
      }

      &-stars {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        i:before {
          content: url($icon-star-pink-large);
          margin-right: 16px;
        }
      }

      &-url {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
      }

      .score {
        @extend .h1;
        font-size: 120px;
        line-height: 160px;
        text-align: center;
        margin-bottom: 56px;
      }

      .quote {
        text-align: center;
        min-height: 64px;
        margin-bottom: 16px;
      }

      .review {
        margin-bottom: 32px;
      }

      .stars {
        position: absolute;
        bottom: 24px;

        i::before {
          content: url($icon-star-pink);
        }
      }
    }
  }

  .readmore {
    &-link {
      display: flex;
      justify-content: center;
      margin-top: 16px;

      @include media-breakpoint-up(xl) {
        margin-top: 16px;
      }

      a {
        max-width: 265px;
      }
    }
  }
}


