.treatments {
  margin-bottom: 8px;

  .treatments-list-wrapper {
    .treatments-list-blocks {
      padding: 24px 16px;

      &:nth-child(even) {
        background: $color-brown-medium-light;
      }
      .treatments-list-card {
        display: flex;
        justify-content: space-between;

        p {
          margin : 0;
        }

        .treatments-list-price {
          &:before {
            content: '€';
            margin-right: 3px;
          }
        }
      }
    }
  }


  .treatments-title,
  .treatments-list-title {
    font-family: $font-montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    text-align: center;

    @include media-breakpoint-up(md) {
      margin-bottom: 32px;
      text-align: left;

    }
  }

  .treatments-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 8px;

    @include media-breakpoint-up(sm) {
      justify-content: flex-start;
    }

    @include media-breakpoint-up(xl) {
      gap: 32px;
    }

    .treatments-blocks {
      width: 47%;

      @include media-breakpoint-up(md) {
        width: 22%;
      }

      @include media-breakpoint-up(xl) {
        max-width: 265px;
      }
      .treatments-card {
        display: flex;
        flex-flow: column wrap;
        background: white;
        padding: 16px;
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(md) {
          padding: 32px 16px 16px;
        }


        .wp-post-image {
          max-width: 80px;
          height: auto;
          @include media-breakpoint-up(xl) {
            max-width: 140px;
          }
          align-self: center;
        }

        p {
          @include media-breakpoint-down(sm) {
            //max-width: 110px;
          }
        }

        .treatments-heading {
          margin-top: 24px;
          margin-bottom: 0;
        }

        .treatments-content {
          min-height: 190px;

          @include media-breakpoint-up(sm) {
            min-height: 110px;
          }

          @include media-breakpoint-up(md) {
            min-height: 190px;
          }

          @include media-breakpoint-up(lg) {
            min-height: 115px;
          }
        }

        .treatments-price {

          @extend h4;

          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }

          &:before {
            content: '€';
            margin-right: 3px;
          }
        }
      }

    }

  }

  .treatment-button {
    margin: 32px 0 8px 14px;
    max-width: 120px;
  }

  .treatments-list-title {
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 16px;
    //border-bottom: 5px solid $color-white;
    width: auto;
  }

}

